<div class="flex justify-center items-center">
  <div class="se-card lg:w-[50%] w-[90%] md:w-[50%]">
    <div class="se-card-header bg-slate-600">
      <div class="flex flex-col gap-1 justify-center items-center pb-4">
        <div>
          <img class="w-[9rem] h-[9rem]" src="../../../assets/images/logo.png" alt="secure-invoices-logo" />
        </div>
        <div>
          <span class="text-xl text-gray-300">Create an account</span>
        </div>
      </div>
    </div>
    <div class="se-card-body" *ngIf="registerState() as state">
      <ng-container *ngIf="!state.registerSuccess">
        <div class="card-body">
          <form [formGroup]="registerForm" (ngSubmit)="onRegisterSubmit()" class="w-full flex flex-col items-center gap-4">
            <div class="w-full max-w-[90%]">
              <div class="mb-2" *ngIf="state.error != undefined">
                <p-message severity="error" [text]="registerState().error" styleClass="w-full"></p-message>
              </div>
              <div class="form-row">
                <label class="form-label" for="email">First Name</label>
                <input pInputText type="text" formControlName="firstName" name="firstName" class="form-input" required minlength="2" />
              </div>
              <div class="form-row">
                <label for="lastName" class="form-label">Last name</label>
                <input pInputText type="text" formControlName="lastName" name="lastName" class="form-input" required minlength="2" />
              </div>
              <div class="form-row">
                <label for="password" class="form-label">Email Address</label>
                <input pInputText type="email" formControlName="email" name="email" class="form-input" required minlength="3" />
              </div>
              <div class="form-row">
                <label for="password" class="form-label">Password</label>
                <input pInputText type="password" formControlName="password" name="password" class="form-input" required minlength="4" />
              </div>

              <p-button
                severity="info"
                type="submit"
                styleClass="w-full mt-4"
                [loading]="state.dataState === 'LOADING_STATE'"
                [disabled]="loading() || registerForm.invalid || registerForm.pristine"
              >
                <span class="flex justify-center items-center gap-2 w-full">
                  {{ state.dataState === 'LOADING_STATE' ? 'Saving...' : 'Register' }}
                  <i class="fa-solid fa-right-to-bracket"></i>
                </span>
              </p-button>
            </div>
          </form>
        </div>
      </ng-container>

      <!-- Success screen -->
      <ng-container *ngIf="registerState().registerSuccess">
        <div class="text-center">
          <div class="mb-2" *ngIf="state.message != undefined">
            <p-message severity="success" [text]="state.message" styleClass="w-full"></p-message>
          </div>
          <i class="bi bi-check-circle-fill" style="font-size: 80px; color: green"></i>
          <p class="mt-2" style="font-size: 20px">Please access your email and confirm your account.</p>
        </div>
        <div class="mt-4">
          <span class="text-sm text-slate-300">Create another account ? <a [routerLink]="['/register']" class="text-sky-500 text-sm no-underline">Register now</a></span>
        </div>
      </ng-container>
      <div class="mt-4">
        <span class="text-sm text-slate-300">Already have an account ? <a [routerLink]="['/login']" class="text-sky-500 text-sm no-underline">Sign in now</a></span>
      </div>
    </div>
  </div>
</div>
