<ng-container>
  <p-breadcrumb class="max-w-full" [model]="items">
    <ng-template pTemplate="item" let-item>
      <ng-container *ngIf="item.route; else elseBlock">
        <a [routerLink]="item.route" class="p-menuitem-link">
          <span [ngClass]="[item.icon ? item.icon : '', 'text-white mr-1']"></span>
          <span class="text-white font-semibold">{{ item.label }}</span>
        </a>
      </ng-container>
      <ng-template #elseBlock>
        <span class="text-slate-200">{{ profileState().dataState !== 'LOADING_STATE' ? getUserName() : 'Loading...' }}</span>
      </ng-template>
    </ng-template>
  </p-breadcrumb>
  <section>
    <!-- header -->
    <div class="mt-4 mb-4 se-card">
      <div class="se-card-body flex gap-5 content-center" *ngIf="profileState().dataState !== 'LOADING_STATE'; else spinner">
        <div class="w-fit">
          <div class="relative">
            <img [src]="getUserPictureProfile()" alt="John" class="rounded-full w-[120px] h-[120px]" />
            <div class="cursor-pointer absolute bottom-[10px] left-[85px] flex items-center p-2 bg-blue-500 border-3 border-solid border-[#191919] rounded-full">
              <i class="fa-solid fa-camera w-[14px] h-[14px]" (click)="fileInput.click()"></i>
            </div>
          </div>
        </div>
        <div class="flex flex-col gap-2 justify-center content-center">
          <span class="font-bold text-2xl">{{ getUserName() }}</span>
          <span class="italic text-sm text-slate-400">Joinded since {{ getUserJoinDate() | date: 'MMM d, y' }}</span>
        </div>
      </div>
    </div>

    <div class="flex flex-wrap gap-4">
      <div class="se-card w-full md:w-[30%] h-fit">
        <div class="se-card-header">
          <span>Personal Informations</span>
        </div>
        <div class="se-card-body text-slate-300">
          <ng-container *ngIf="profileState().dataState !== 'LOADING_STATE'; else spinner">
            <span class="text-sm">{{ getUserInformations()?.bio }}</span>
            <div class="flex flex-col gap-2 mt-6">
              <span><i class="fa-solid fa-envelope pr-4"></i>{{ getUserInformations()?.email }}</span>
              <span><i class="fa-solid fa-location-dot pr-4"></i>{{ getUserInformations()?.address }}</span>
              <span><i class="fa-solid fa-phone pr-4"></i>{{ getUserInformations()?.phone }}</span>
              <span><i class="fa-solid fa-user pr-4"></i>{{ getUserInformations()?.title }}</span>
              <span><i class="fa-solid fa-hammer pr-4"></i>{{ getUserInformations()?.roleName }}</span>
            </div>
          </ng-container>
        </div>
      </div>

      <div class="flex-grow w-full md:w-[calc(70%-1rem)]">
        <p-tabView>
          <p-tabPanel header="Settings">
            <div class="se-card">
              <div class="se-card-header">
                <span>Personal Information</span>
              </div>
              <div class="se-card-body">
                <se-profile-info
                  [profileForm]="profileForm"
                  [appData]="profileState().appData"
                  [dataState]="profileState().dataState"
                  [loading]="loading()"
                  [userInfos]="getUserInformations()"
                  (profileFormSubmitted)="onProfileSubmit($event)"
                  (undoFormProfileChanges)="onCancelUserProfileChanges()"
                ></se-profile-info>
              </div>
            </div>
            <div class="se-card mt-4">
              <div class="se-card-header">
                <span>Authorization Settings</span>
              </div>
              <div class="se-card-body mt-4">
                <se-profile-authorization
                  [appData]="profileState().appData"
                  [dataState]="profileState().dataState"
                  [loading]="loading()"
                  [userInfos]="getUserInformations()"
                  (handleUserRoleChange)="onUserRoleUpdate($event)"
                ></se-profile-authorization>
              </div>
            </div>
            <div class="se-card mt-4">
              <div class="se-card-header">
                <span>Account Settings</span>
              </div>
              <div class="se-card-body">
                <se-profile-account
                  [accountSettingsForm]="accountSettingsForm"
                  [dataState]="profileState().dataState"
                  [loading]="loading()"
                  [userInfos]="getUserInformations()"
                  (accountSettingsFormSubmitted)="onAccountSettingsFormSubmit($event)"
                ></se-profile-account>
              </div>
            </div>
            <div class="se-card mt-4">
              <div class="se-card-header">
                <span>Authentication Settings</span>
              </div>
              <div class="se-card-body">
                <se-profile-authentication
                  [dataState]="profileState().dataState"
                  [loading]="loading()"
                  [userInfos]="getUserInformations()"
                  (authenticationSettingsUpdated)="onAuthenticationSettingsUpdate($event)"
                  (showActivityLogsUpdated)="showProfileEvents = !showProfileEvents"
                ></se-profile-authentication>
              </div>
            </div>
            <div class="se-card mt-4">
              <div class="se-card-header">
                <span>Password Settings </span>
              </div>
              <div class="se-card-body">
                <se-profile-password
                  [passwordForm]="passwordForm"
                  [dataState]="profileState().dataState"
                  [loading]="loading()"
                  [passwordVerified]="passwordVerified()"
                  (passwordFormSubmit)="onPasswordFormSubmit($event)"
                  (verifyPassword)="onVerifyPasswordButtonClick()"
                ></se-profile-password>
              </div>
            </div>
          </p-tabPanel>
          <p-tabPanel header="General">
            <div class="se-card">
              <p>toast</p>
            </div>
          </p-tabPanel>
          <p-tabPanel header="Account history">
            <div class="se-card">
              <div class="se-card-header">Account history</div>
              <div class="se-card-body">
                <se-profile-events-history
                  *ngIf="showProfileEvents"
                  [dataState]="profileState().dataState"
                  [loading]="loading()"
                  [userEvents]="getUserEvents()"
                ></se-profile-events-history>
              </div>
            </div>
          </p-tabPanel>
        </p-tabView>
      </div>
    </div>

    <!-- profile image change form -->
    <form enctype="multipart/form-data" style="display: none">
      <input #fileInput (change)="onUpdateProfilePicture($event)" type="file" name="image" id="image" placeholder="file" ngModel accept="image/*" />
    </form>

    <ng-template #spinner>
      <div class="se-card-body flex justify-center content-center">
        <se-progress-spinner mode="indeterminate"></se-progress-spinner>
      </div>
    </ng-template></section
></ng-container>
