<ng-container>
  <ng-container>
    <app-navbar></app-navbar>
    <section>
      <div class="container">
        <nav aria-label="breadcrumb" style="margin-top: 8px">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a [routerLink]="['/']">Home</a>
            </li>
            <li class="breadcrumb-item active">Users</li>
            <li class="breadcrumb-item active" aria-current="page">{{ profileState().dataState !== 'LOADING_STATE' ? getUserName() : 'Loading...' }}</li>
          </ol>
        </nav>
        <div class="bg-white shadow rounded-lg d-block d-sm-flex" style="border-radius: 8px">
          <div class="profile-tab-nav border-right">
            <div class="p-4">
              <div *ngIf="profileState().dataState !== 'LOADING_STATE'; else spinner">
                <div class="img-circle text-center mb-3">
                  <span style="position: relative">
                    <img [src]="getUserPictureProfile()" alt="John" class="shadow" />
                    <i class="bi bi-camera-fill right-position" (click)="fileInput.click()"></i>
                  </span>
                </div>
                <h4 class="text-center user-name-text">{{ getUserName() }}</h4>
                <div class="w-100 text-center">
                  <span class="text-center">Since {{ getUserJoinDate() | date: 'MMM d, y' }}</span>
                </div>
              </div>
            </div>
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
              <a class="nav-link active" id="profile" data-bs-toggle="pill" data-bs-target="#profile-tab" aria-selected="true" aria-controls="profile" role="tab">
                <i class="bi bi-person-circle" style="margin-right: 12px"></i> Profile
              </a>
              <a class="nav-link" id="password" data-bs-toggle="pill" data-bs-target="#password-tab" aria-selected="true" aria-controls="password" role="tab">
                <i class="bi bi-key-fill" style="margin-right: 12px"></i> Password
              </a>
              <a class="nav-link" id="security" data-bs-toggle="pill" data-bs-target="#security-tab" aria-selected="true" aria-controls="security" role="tab">
                <i class="bi bi-shield-shaded" style="margin-right: 12px"></i> Authorization
              </a>
              <a class="nav-link" id="application" data-bs-toggle="pill" data-bs-target="#application-tab" aria-selected="true" aria-controls="application" role="tab">
                <i class="bi bi-gear" style="margin-right: 12px"></i> Account
              </a>
              <a class="nav-link" id="notification" data-bs-toggle="pill" data-bs-target="#notification-tab" aria-selected="true" aria-controls="notification" role="tab">
                <i class="bi bi-lock-fill" style="margin-right: 12px"></i> Authentication
              </a>
            </div>
          </div>
          <div class="tab-content p-4 p-md-5" id="v-pills-tabContent" style="border-left: 1px solid #d4d0d0">
            <div class="tab-pane fade show active" id="profile-tab" role="tabpanel" aria-labelledby="profile" style="min-height: 510px">
              <se-profile-info
                [profileForm]="profileForm"
                [appData]="profileState().appData"
                [dataState]="profileState().dataState"
                [loading]="loading()"
                [userInfos]="getUserInformations()"
                (profileFormSubmitted)="onProfileSubmit($event)"
                (undoFormProfileChanges)="onCancelUserProfileChanges()"
              ></se-profile-info>
            </div>
            <div class="tab-pane fade" id="security-tab" role="tabpanel" aria-labelledby="security" style="min-height: 510px">
              <se-profile-authorization
                [appData]="profileState().appData"
                [dataState]="profileState().dataState"
                [loading]="loading()"
                [userInfos]="getUserInformations()"
                (handleUserRoleChange)="onUserRoleUpdate($event)"
              ></se-profile-authorization>
            </div>
            <div class="tab-pane fade" id="application-tab" role="tabpanel" aria-labelledby="application" style="min-height: 510px">
              <se-profile-account
                [accountSettingsForm]="accountSettingsForm"
                [dataState]="profileState().dataState"
                [loading]="loading()"
                [userInfos]="getUserInformations()"
                (accountSettingsFormSubmitted)="onAccountSettingsFormSubmit($event)"
              ></se-profile-account>
            </div>
            <div class="tab-pane fade" id="notification-tab" role="tabpanel" aria-labelledby="notification" style="min-height: 510px">
              <se-profile-authentication
                [dataState]="profileState().dataState"
                [loading]="loading()"
                [userInfos]="getUserInformations()"
                (authenticationSettingsUpdated)="onAuthenticationSettingsUpdate($event)"
                (showActivityLogsUpdated)="showProfileEvents = !showProfileEvents"
              ></se-profile-authentication>
            </div>
            <div class="tab-pane fade" id="password-tab" role="tabpanel" aria-labelledby="password" style="min-height: 510px">
              <se-profile-password
                [passwordForm]="passwordForm"
                [dataState]="profileState().dataState"
                [loading]="loading()"
                [passwordVerified]="passwordVerified()"
                (passwordFormSubmit)="onPasswordFormSubmit($event)"
                (verifyPassword)="onVerifyPasswordButtonClick()"
              ></se-profile-password>
            </div>
          </div>
        </div>
        <se-profile-events-history
          *ngIf="showProfileEvents"
          [dataState]="profileState().dataState"
          [loading]="loading()"
          [userEvents]="getUserEvents()"
        ></se-profile-events-history>
      </div>
    </section>
  </ng-container>
</ng-container>

<!-- profile image change form -->
<form enctype="multipart/form-data" style="display: none">
  <input #fileInput (change)="onUpdateProfilePicture($event)" type="file" name="image" id="image" placeholder="file" ngModel accept="image/*" />
</form>

<ng-template #spinner>
  <div class="d-flex align-items-center justify-content-center">
    <se-progress-spinner mode="indeterminate"></se-progress-spinner>
  </div>
</ng-template>
