<form [formGroup]="passwordForm" (ngSubmit)="onPasswordFormSubmit($event)" class="w-full flex flex-col items-center gap-4">
  <!-- <input type="hidden" name="userId" /> -->
  <div class="w-full max-w-[90%]">
    <div class="">
      <div class="form-row">
        <label class="form-label">Current password</label>
        <input pInputText type="password" name="password" class="form-control" formControlName="password" required />
        <p-button
          severity="info"
          size="small"
          [loading]="loadingSig()"
          [label]="loadingSig() ? 'Validation...' : 'Validate'"
          (onClick)="onVerifyPasswordButtonClick($event)"
        ></p-button>
      </div>
    </div>
    <div class="mt-4">
      <div class="form-row">
        <label class="form-label">New password</label>
        <input pInputText type="password" name="newPassword" class="form-control" formControlName="newPassword" required />
      </div>
      <div class="form-row">
        <label class="form-label">Confirm new password</label>
        <input pInputText type="password" name="confirmPassword" class="form-control" formControlName="confirmPassword" required />
      </div>
      <div>
        <p-button
          severity="success"
          [loading]="loadingSig()"
          [label]="loadingSig() ? 'Loading...' : 'Update'"
          *ngIf="dataStateSig() !== 'LOADING_STATE' && passwordVerifiedSig()"
          [disabled]="loadingSig() || passwordForm.pristine || passwordForm.invalid"
          type="submit"
        ></p-button>
      </div>
    </div>
  </div>
</form>
