<h3 class="mb-4">Password Settings</h3>
<form [formGroup]="passwordForm" (ngSubmit)="onPasswordFormSubmit($event)">
  <!-- <input type="hidden" name="userId" /> -->
  <div class="row">
    <div class="col-md-7">
      <div class="d-flex gap-2 align-items-center">
        <div class="form-group">
          <label>Current password</label>
          <input type="password" name="password" class="form-control" formControlName="password" required />
        </div>
        <button style="height: 38px" type="button" class="btn btn-primary" (click)="onVerifyPasswordButtonClick($event)">
          <span *ngIf="loadingSig()" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="margin-right: 5px"></span>
          <span *ngIf="loadingSig()">Validation...</span>
          <span *ngIf="!loadingSig()">Validate</span>
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>New password</label>
        <input type="password" name="newPassword" class="form-control" formControlName="newPassword" required />
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Confirm new password</label>
        <input type="password" name="confirmPassword" class="form-control" formControlName="confirmPassword" required />
      </div>
    </div>
  </div>
  <div>
    <button
      *ngIf="dataStateSig() !== 'LOADING_STATE' && passwordVerifiedSig()"
      [disabled]="loadingSig() || passwordForm.pristine || passwordForm.invalid"
      type="submit"
      class="btn btn-primary"
    >
      <span *ngIf="loadingSig()" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="margin-right: 5px"></span>
      <span *ngIf="loadingSig()">loading...</span>
      <span *ngIf="!loadingSig()">Update</span>
    </button>
  </div>
</form>
