@import '../../../assets/styles/theme.scss';
@import '../../../assets/styles/_variables.scss';

.user-avatar-md {
  height: 40px;
  width: 40px;
}

.secure-invoices--topbar {
  position: fixed;
  top: 0;
  left: 270px;
  height: 80px;
  width: calc(100% - 270px);
  z-index: 1006;
  //background-color: #18191b;
  background-color: #191919;
  color: #ededed;
  align-content: center;
  color: $clr-primary--lightest;

  .container-xxl.topbar--content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 30px;
  }

  .topbar--item-left {
    display: inline-flex;
    justify-content: flex-start;
    gap: 10px;
    align-items: center;
    flex-grow: 1;

    &-icon {
      cursor: pointer;
    }
  }

  .top-bar--item-right {
    display: inline-flex;
    gap: 10px;
    align-items: center;

    .dropdown-content {
      position: absolute;
      top: 40px;
      right: 0;
      width: 200px;
      background-color: #191919;
      border: 1px solid #ddd;
      border-radius: 10px;
      opacity: 0;
      visibility: hidden;
      transform: translateY(-5px);
      transition:
        opacity 0.3s ease,
        transform 0.3s ease;
    }

    .dropdown:focus-within .dropdown-content {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }
}
