@import '../../../assets/styles/theme.scss';
@import '../../../assets/styles/_variables.scss';

.user-avatar-md {
  height: 40px;
  width: 40px;
}

.secure-invoices--topbar {
  position: fixed;
  top: 0;
  margin-left: 270px;
  height: 80px;
  //width: calc(100% - 270px);
  width: -moz-available; /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
  width: fill-available;
  //background-color: #18191b;
  background-color: #191919;
  color: #ededed;
  align-content: center;
  color: $clr-primary--lightest;
  transition: all 0.5s ease;
  z-index: 1000;

  .sidebar--toggle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 30px;
    width: 30px;
    background-color: $clr-white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #191919;
    z-index: 1010;
    font-size: 1.2rem;
  }

  .container-xxl.topbar--content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 30px;
  }

  .topbar--item-left {
    display: inline-flex;
    justify-content: flex-start;
    gap: 10px;
    align-items: center;
    flex-grow: 1;

    &-icon {
      cursor: pointer;
    }
  }

  .top-bar--item-right {
    display: inline-flex;
    gap: 10px;
    align-items: center;

    .dropdown-content {
      position: absolute;
      top: 40px;
      right: 0;
      width: 200px;
      background-color: #191919;
      border: 1px solid #ddd;
      border-radius: 10px;
      opacity: 0;
      visibility: hidden;
      transform: translateY(-5px);
      transition:
        opacity 0.3s ease,
        transform 0.3s ease;
    }

    .dropdown:focus-within .dropdown-content {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }
}
