<nav
  class="secure-invoices--topbar"
  [ngStyle]="{
    'margin-left.px': responsiveService.phone() || responsiveService.tablet() ? 0 : pageMarginLeft(),
    width: responsiveService.phone() || responsiveService.tablet() ? '100%' : 'calc(100% - ' + pageMarginLeft() + 'px)'
  }"
>
  <div class="max-w-screen-2xl mx-auto px-4 flex items-center w-full gap-8">
    <div class="topbar--item-left w-[35%] flex gap-4">
      <button class="p-2 rounded-full hover:bg-[#1E1E24] transition-colors border-none">
        <i class="fa-solid fa-bars cursor-pointer sidebar--toggle shrink-0 text-[#9CA3AF]" (click)="onToggleClick($event)"></i>
      </button>
      <span class="hidden lg:block text-nowrap h2 overflow-hidden text-ellipsis">Good Morning, {{ userInformations()?.firstName }} !</span>
    </div>
    <div class="top-bar--item-right w-[75%] flex items-center justify-end gap-4" *ngIf="userInformations()">
      <ng-container *ngIf="!responsiveService.phone() || !responsiveService.tablet()">
        <!-- Search bar -->
        <div class="relative hidden lg:block">
          <input
            type="text"
            placeholder="Search..."
            class="bg-[#121212] w-[300px] h-[40px] pl-10 pr-4 rounded-full font-input-text border border-[#2c2c2c] outline-none border-solid border-transparent focus:border-[#3B82F6]"
          />
          <i class="fas fa-search absolute left-3 top-[30%] transform -translate-y-1/2 text-[#9CA3AF]"></i>
        </div>

        <!-- Icons -->
        <div class="flex items-center gap-4">
          <button class="p-2 rounded-full hover:bg-[#1E1E24] transition-colors border-none">
            <i class="fa-classic fa-envelope text-[18px] cursor-pointer text-[#9CA3AF]"></i>
          </button>
          <button class="p-2 rounded-full hover:bg-[#1E1E24] transition-colors border-none">
            <i class="fa-classic fa-bell text-[18px] cursor-pointer text-[#9CA3AF]"></i>
          </button>
        </div>
      </ng-container>
      <div class="relative inline-block dropdown p-2 bg-[#121212] rounded-xl">
        <div class="flex gap-2 cursor-pointer shrink-0 items-center border dropdown-trigger" (click)="toggleMainDropdown($event)" #dropdownElement tabindex="0">
          <img [src]="getUserPictureProfile()" [alt]="getUserName()" class="rounded-full w-[36px] h-[36px]" />
          <div class="flex-col gap-1 align-content-center justify-content-center hidden lg:flex">
            <span class="item-right--name font-semibold text-green-600">{{ userInformations()?.firstName }} {{ userInformations()?.lastName }}</span>
            <span class="text-xs font-light text-wrap">{{ userInformations()?.roleName }}</span>
          </div>
        </div>
        <div class="dropdown-content rounded-xl" *ngIf="isDropdownOpen()" #dropdownElementMenu tabindex="0">
          <div class="flex gap-2 shrink-0 items-center pl-1 pr-1 pt-2 pb-2 bg-slate-700 rounded-t-xl">
            <img [src]="getUserPictureProfile()" [alt]="getUserName()" class="rounded-full w-9 h-9 ml-2" />
            <div class="flex-col gap-1 align-content-center justify-content-center flex">
              <span class="item-right--name font-semibold">{{ userInformations()?.firstName }} {{ userInformations()?.lastName }}</span>
              <span class="text-xs font-light text-wrap">{{ userInformations()?.title }}</span>
            </div>
          </div>

          <div class="mb-2 flex flex-col gap-2 mt-2">
            <span class="font-extralight text-slate-400 text-sm pr-4 pl-4">Account</span>
            <a class="hover:bg-slate-700 w-full">
              <span class="cursor-pointer hover:text-gray-100 se-item-link" [routerLink]="['profile']"><i class="fa-solid fa-user mr-2"></i>Profile</span>
            </a>
            <a class="hover:bg-slate-700 w-full">
              <span class="cursor-pointer hover:text-gray-100 se-item-link"><i class="fa-solid fa-message mr-2"></i>Message</span>
            </a>
          </div>
          <div class="mb-2 flex flex-col gap-2">
            <span class="font-extralight text-slate-400 text-sm pr4 pl-4">Settings</span>
            <a class="hover:bg-slate-700 w-full">
              <span class="cursor-pointer hover:text-gray-100 se-item-link"><i class="fa-solid fa-shield-halved mr-2"></i>Security</span>
            </a>
            <a class="hover:bg-slate-700 w-full">
              <span class="cursor-pointer hover:text-gray-100 se-item-link"><i class="fa-solid fa-circle-info mr-2"></i>Help</span>
            </a>
          </div>

          <div class="pl-4 pt-2 pr-4 pb-2 se-border-top">
            <span class="text-red-600 cursor-pointer" (click)="logout($event)"><i class="fa-solid fa-power-off mr-2"></i>Logout</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
