@import '../../../assets/styles/theme.scss';
@import '../../../assets/styles/_variables.scss';

.user-avatar-md {
  height: 40px;
  width: 40px;
}

.secure-invoices--topbar {
  position: fixed;
  top: 0;
  left: 270px;
  height: 80px;
  width: calc(100% - 270px);
  z-index: 1006;
  // background-color: hsl(210, 15%, 15%);
  background-color: #18191b;
  color: #ededed;
  align-content: center;
  border-bottom: 1px solid $clr-primary--medium;
  color: $clr-primary--lightest;

  .container-xxl.topbar--content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 30px;
  }

  .topbar--item-left {
    display: inline-flex;
    justify-content: flex-start;
    gap: 10px;
    align-items: center;
    flex-grow: 1;

    &-icon {
      cursor: pointer;
    }
  }

  .top-bar--item-right {
    display: inline-flex;
    gap: 10px;
    align-items: center;

    .navbar-nav {
      flex-direction: row !important;
      gap: 10px;

      .dropdown-toggle::after {
        content: unset !important;
      }
    }
  }
}
