<ng-template #spinner>
  <div class="d-flex align-items-center justify-content-center pt-1">
    <se-progress-spinner [size]="'l'" mode="indeterminate"></se-progress-spinner>
  </div>
</ng-template>

<main>
  <!-- {{ editInvoiceForm.value | json }} -->
  <form [formGroup]="editInvoiceForm" (ngSubmit)="(null)">
    <div class="flex justify-between">
      <p-breadcrumb class="max-w-full" [model]="items">
        <ng-template pTemplate="item" let-item>
          <ng-container *ngIf="item.route; else elseBlock">
            <a [routerLink]="item.route" class="p-menuitem-link">
              <span [ngClass]="[item.icon ? item.icon : '', 'text-white mr-1']"></span>
              <span class="text-white font-semibold">{{ item.label }}</span>
            </a>
          </ng-container>
          <ng-template #elseBlock>
            <span class="text-slate-200">{{ invoiceState().dataState !== 'LOADING_STATE' ? invoiceNumber() : 'Loading...' }}</span>
          </ng-template>
        </ng-template>
      </p-breadcrumb>
      <div class="flex gap-2">
        <p-button label="Save" severity="success" icon="fa-solid fa-floppy-disk" [disabled]="!isInvoiceModified()" />
        <p-button label="Delete" severity="danger" icon="fa-solid fa-trash" />
      </div>
    </div>

    <div class="grid-invoice mt-4">
      <div class="col-span-12 lg:col-span-4 xl:col-span-4 se-card">
        <div class="se-card-header">
          <div class="flex items-center">
            <span>Summary</span>
          </div>
        </div>
        <div class="se-card-body">
          <div class="flex flex-col gap-4">
            <div class="flex justify-between">
              <span class="flex items-center gap-2">TVA (%) <p-inputSwitch formControlName="isVatEnabled" /></span>
              <p-inputNumber
                *ngIf="editInvoiceForm.get('isVatEnabled')?.value"
                mode="decimal"
                [minFractionDigits]="2"
                [maxFractionDigits]="2"
                formControlName="vatRate"
              />
            </div>
            <div class="flex justify-between">
              <span class="">Total w/o TVA</span>
              <span>{{ preTaxPrice() | number: '.2-2' }} €</span>
            </div>
            <div class="flex justify-between">
              <span class="flex items-center gap-2">TVA ({{ vatRate() }}%)</span>
              <span>{{ tvaPrice() | number: '.2-2' }} €</span>
            </div>
            <div class="flex justify-between">
              <span class="flex items-center gap-2 font-bold">Total TTC</span>
              <span class="font-bold">{{ priceWithTax() }} €</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-span-12 lg:col-span-8 xl:col-span-8 se-card max-h-[400px] overflow-y-auto">
        <div class="se-card-header">
          <div class="flex justify-between items-center">
            <span>Customers registered</span>
            <div>
              <p-button [label]="responsiveService.desktop() ? 'Add a new invoice line' : undefined" (onClick)="menu.toggle($event)">
                <i *ngIf="!responsiveService.desktop()" class="fa-solid fa-plus"></i>
              </p-button>
              <p-tieredMenu #menu [model]="submenuItems()" [popup]="true" />
            </div>
          </div>
        </div>
        <div class="se-card-body">
          <div class="flex items-center justify-center">
            <div formArrayName="invoiceLines" class="w-full overflow-x-auto">
              <p-table [value]="invoiceLines().controls" [tableStyle]="{ 'min-width': '50rem' }">
                <ng-template pTemplate="header">
                  <tr>
                    <th>Quantity / duration</th>
                    <th>Description</th>
                    <th>Type</th>
                    <th>Price per unit / hour</th>
                    <th>Total price</th>
                    <th>Action</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-line let-i="rowIndex">
                  <tr [formGroupName]="i">
                    <td>
                      <input type="number" class="w-[100px]" pInputText [formControlName]="line.value.type === 'PRODUCT' ? 'quantity' : 'duration'" />
                    </td>
                    <td>
                      <input type="text" class="w-[200px]" pInputText formControlName="description" />
                    </td>
                    <td>{{ line.value.type }}</td>
                    <td>
                      <input type="number" class="w-[100px]" pInputText formControlName="price" />
                    </td>
                    <td>$ {{ line.value.totalPrice }}</td>
                    <td>
                      <p-button icon="fa-solid fa-xmark text-xl" [rounded]="true" severity="warning" (click)="removeInvoiceLine(i)" />
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-span-12 lg:col-span-4 xl:col-span-4 se-card">
        <div class="se-card-header">
          <div class="flex justify-between items-center">
            <span>Details of the invoice n° {{ invoice()?.invoiceNumber }}</span>
          </div>
        </div>
        <div class="se-card-body">
          <div class="flex justify-center flex-col gap-4">
            <input pInputText type="text" placeholder="Description.." formControlName="services" />
            <div class="block">
              <label>Customer</label>
              <ng-select
                [items]="getCustomersPage()"
                bindLabel="name"
                bindValue="customerId"
                formControlName="customerId"
                placeholder="Select a customer"
                [loading]="loading()"
                (scrollToEnd)="loadCustomers()"
                [virtualScroll]="true"
                (search)="onSearch($event)"
                (clear)="onClear($event)"
                (change)="onCustomerSelectionChange($event)"
              >
              </ng-select>
            </div>
            <div>
              <label
                >Select the issue date<p-calendar appendTo="body" [iconDisplay]="'input'" [showIcon]="true" inputId="icondisplay" formControlName="issuedAt"
              /></label>
            </div>
            <div>
              <label>Select the due date <p-calendar appendTo="body" [iconDisplay]="'input'" [showIcon]="true" inputId="icondisplay" formControlName="dueAt" /> </label>
            </div>
          </div>
        </div>
      </div>
      <div class="col-span-12 lg:col-span-8 xl:col-span-8 se-card">
        <div class="se-card-header">
          <div class="flex justify-between items-center">
            <div class="invoice-company text-inverse f-w-600">
              <p-button label="Export as PDF" severity="danger" icon="fa-solid fa-file-pdf" (click)="exportAsPDF()" />
            </div>
          </div>
        </div>
        <div class="se-card-body">
          <div class="flex justify-between items-center">
            <div class="invoice w-full overflow-x-auto" *ngIf="invoiceState().dataState !== 'LOADING_STATE'; else spinner">
              <div [ngClass]="{ 'w-[800px]': !responsiveService.desktop() }">
                <div *ngTemplateOutlet="previewInvoice"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</main>

<ng-template #previewInvoice>
  <div id="invoice">
    <div class="invoice-header">
      <div class="invoice-from">
        <small>from</small>
        <address class="m-t-5 m-b-5">
          <span class="font-bold">SecureInvoices, Inc.</span><br />
          <div>
            123 Main Steet<br />
            Philadelphia, Pennsylvania 15886<br />
            Phone: (123) 456-7890<br />
            Fax: (123) 456-7890
          </div>
        </address>
      </div>
      <div class="invoice-to">
        <small>to</small>
        <address class="m-t-5 m-b-">
          <span class="font-bold">{{ getCustomer()?.name }}</span
          ><br />
          Address: {{ getCustomer()?.address }}<br />
          Email: {{ getCustomer()?.email }}<br />
          Phone: {{ getCustomer()?.phone }}<br />
          Status:
          <span class="badge" [ngClass]="{ 'bg-success': invoice()?.status === 'Paid', 'bg-warning': invoice()?.status === 'Pending' }">
            {{ invoice()?.status }}
          </span>
        </address>
      </div>
      <div class="invoice-date">
        <small>Invoice number: {{ invoiceNumber() }}</small>
        <div class="m-t-5">
          <small>Issue at: </small> <span class="font-bold">{{ invoice()?.issuedAt | date: 'mediumDate' }}</span>
        </div>
        <div class="m-t-5">
          <small>Due at: </small> <span class="font-bold">{{ invoice()?.dueAt | date: 'mediumDate' }}</span>
        </div>
      </div>
    </div>
    <div class="invoice-content">
      <div class="table-responsive">
        <div class="table-invoice">
          <div class="table-row table-header">
            <div class="table-cell">Quantity / Duration</div>
            <div class="table-cell">Description</div>
            <div class="table-cell">Type</div>
            <div class="table-cell">Price</div>
            <div class="table-cell">Total Price</div>
          </div>

          <div class="table w-full" *ngFor="let line of invoiceLines().controls">
            <div class="table-cell">
              {{ line.value.type === 'PRODUCT' ? line.value.quantity : line.value.duration }}
            </div>
            <div class="table-cell">{{ line.value.description }}</div>
            <div class="table-cell">{{ line.value.type }}</div>
            <div class="table-cell">$ {{ line.value.price }}</div>
            <div class="table-cell">$ {{ line.value.totalPrice }}</div>
          </div>
        </div>
      </div>
      <div class="invoice-price">
        <div class="invoice-price-left">
          <div class="invoice-price-row">
            <div class="sub-price">
              <small>SUBTOTAL</small>
              <span class="text-inverse">${{ preTaxPrice() | number: '.2-2' }}</span>
            </div>
            <div class="sub-price">
              <i class="fa fa-plus text-muted"></i>
            </div>
            <div class="sub-price">
              <small>TAX ({{ vatRate() | number: '.2-2' }}%)</small>
              <span class="text-inverse">${{ tvaPrice() | number: '.2-2' }}</span>
            </div>
          </div>
        </div>
        <div class="invoice-price-right">
          <small class="text-white">TOTAL</small> <span class="f-w-600 text-white">${{ priceWithTax() | number: '.2-2' }}</span>
        </div>
      </div>
    </div>
    <div class="invoice-footer">
      <p class="text-center m-b-5 f-w-600">THANK YOU FOR YOUR BUSINESS</p>
      <p class="text-center">
        <span class="m-r-10"><i class="fa fa-fw fa-lg fa-globe"></i> secureinvoice.com</span> <br />
        <span class="m-r-10"><i class="fa fa-fw fa-lg fa-phone-volume"></i> Telephone:(123) 456-7890</span><br />
        <span class="m-r-10"><i class="fa fa-fw fa-lg fa-envelope"></i> Email: bicllling&#64;secureinvoice.com</span>
      </p>
    </div>
  </div>
</ng-template>
