<p>Set up Multi-factor Authentication (MFA) help keep your account more secure</p>
<div class="list-group mb-5 shadow" *ngIf="dataStateSig() !== 'LOADING_STATE'; else spinner">
  <div class="list-group-item">
    <div class="row align-items-center">
      <div class="col">
        <span class="font-bold text-slate-400 mr-2">Multi-Factor Authentication</span>
        <p-chip [styleClass]="getMfaStatus().class">
          <span>{{ getMfaStatus().text }}</span>
        </p-chip>
      </div>
    </div>
  </div>
  <div class="mt-4">
    <p-button severity="success" [loading]="loadingSig()" [label]="loadingSig() ? 'Loading...' : getButtonLabel()" (onClick)="onUpdateMfa($event)"></p-button>
  </div>
  <!-- <div class="list-group-item">
    <div class="row align-items-center">
      <div class="col">
        <strong class="mb-2">Activity Logs</strong>
        <p class="text-muted mb-0">Show the latest activites on your account</p>
      </div>
      <div class="col-auto">
        <div class="custom-control custom-switch">
          <dgd-core-checkbox [checked]="showLastestActivities" (onCheckedChange)="onShowLastestActivitiesChange()"></dgd-core-checkbox>
        </div>
      </div>
    </div>
  </div> -->
</div>

<ng-template #spinner>
  <div class="flex items-center justify-center">
    <se-progress-spinner mode="indeterminate"></se-progress-spinner>
  </div>
</ng-template>
