.se-toast {
  position: fixed;
  right: 0;
  width: 300px;
  //height: 60px;
  padding: 0.15rem 0.75rem 0.15rem 1.75rem;
  margin-top: 95px;
  margin-right: 1rem;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  animation: move 0.5s both;

  &-success {
    color: #22c55e;
    background-color: rgb(34, 197, 94, 0.15);
    border-color: #28a745;

    .se-toast-heading {
      color: #22c55e;
    }

    .se-toast-icon {
      color: #22c55e;
    }
  }

  &-error {
    color: #ef4444;
    background-color: rgb(239, 68, 68, 0.15);
    border-color: #dc3545;
    .se-toast-heading {
      color: #ef4444;
    }
    .se-toast-icon {
      color: #ef4444;
    }
  }

  &-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #856404;

    .se-toast-heading {
      color: #ffc107;
    }
    .se-toast-icon {
      color: #856404;
    }
  }
}
.close {
  position: absolute;
  top: 7px;
  right: 10px;
  cursor: pointer;
}

.se-toast-icon {
  position: absolute;
  left: 7px;
  top: 9px;
}

.se-toast--content {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 1rem;
}
.se-toast-heading {
  font-size: 1.25rem !important;
}

@keyframes move {
  from {
    transform: translateY(150%);
  }
  to {
    transform: translateY(0);
  }
}
