.se-toast {
  position: fixed;
  right: 0;
  width: 300px;
  height: 60px;
  padding: 0.15rem 0.75rem 0.15rem 1.75rem;
  margin-top: 1rem;
  margin-right: 1rem;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  animation: move 0.5s both;

  &-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #28a745;

    .se-toast-heading {
      color: #28a745;
    }

    .se-toast-icon {
      color: #28a745;
    }
  }

  &-error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #dc3545;
    .se-toast-heading {
      color: #dc3545;
    }
    .se-toast-icon {
      color: #dc3545;
    }
  }

  &-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #856404;

    .se-toast-heading {
      color: #ffc107;
    }
    .se-toast-icon {
      color: #856404;
    }
  }
}
.close {
  position: absolute;
  top: 7px;
  right: 10px;
  cursor: pointer;
}

.se-toast-icon {
  position: absolute;
  left: 7px;
  top: 7px;
}

.se-toast--content {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 0.85rem;
}
.se-toast-heading {
  font-size: 1rem !important;
}

@keyframes move {
  from {
    transform: translateY(150%);
  }
  to {
    transform: translateY(0);
  }
}
