<ng-template #spinner>
  <div class="d-flex align-items-center justify-content-center">
    <se-progress-spinner mode="indeterminate"></se-progress-spinner>
  </div>
</ng-template>

<p>Latest activities on your account.</p>
<p-table [value]="userEventsSig()" [tableStyle]="{ 'min-width': '50rem' }">
  <ng-template pTemplate="header">
    <tr>
      <th scope="col">Device</th>
      <th scope="col">IP Address</th>
      <th scope="col">Date</th>
      <th scope="col">Type</th>
      <th scope="col">Description</th>
      <th scope="col">Action</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-event>
    <tr>
      <td>{{ event.device }}</td>
      <td>{{ event.ipAddress }}</td>
      <td>{{ event.occuredAt | date: 'MMM d, y, h:mm a' }}</td>
      <td>
        <p-chip
          [styleClass]="
            event.type.endsWith('SUCCESS')
              ? 'bg-green-300 text-green-700 p-2'
              : event.type.endsWith('ATTEMPT')
                ? 'bg-orange-300 text-black p-2'
                : event.type.endsWith('FAILURE')
                  ? 'bg-red-300 text-red-700 p-2'
                  : event.type.endsWith('UPDATE')
                    ? 'bg-blue-300 text-blue-700 p-2'
                    : ''
          "
        >
          {{ event.type }}
        </p-chip>
      </td>
      <td>{{ event.description }}</td>
      <td>
        <p-button severity="warning" size="small" label="Report"></p-button>
      </td>
    </tr>
  </ng-template>
</p-table>
