<div class="row">
  <div class="col-xl-12 mt-4">
    <div class="card" style="border-radius: 8px">
      <div class="card-body">
        <h5 class="card-title">Account Activities</h5>
        <h6 class="card-subtitle mb-2 text-muted">Latest activities on your account.</h6>
        <table class="table table-hover" *ngIf="dataStateSig() != 'LOADING_STATE'; else spinner">
          <thead>
            <tr>
              <th scope="col">Device</th>
              <th scope="col">IP Address</th>
              <th scope="col">Date</th>
              <th scope="col">Type</th>
              <th scope="col">Description</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let event of userEventsSig()">
              <td>{{ event.device }}</td>
              <td>{{ event.ipAddress }}</td>
              <td>{{ event.occuredAt | date: 'MMM d, y, h:mm a' }}</td>
              <td>
                <span class="badge pill" [ngClass]="getEventTypeClassColor(event.type)">
                  {{ event.type }}
                </span>
              </td>
              <td>{{ event.description }}</td>
              <td>
                <button type="button" class="btn btn-sm" style="background-color: #fd5d0d; font-weight: 450">Report</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<ng-template #spinner>
  <div class="d-flex align-items-center justify-content-center">
    <se-progress-spinner mode="indeterminate"></se-progress-spinner>
  </div>
</ng-template>
