@import '../../../assets/styles/theme.scss';
@import '../../../assets/styles/_variables.scss';

.secure-invoices--sidebar {
  position: fixed;
  width: 270px;
  //background-color: #18191b;
  background-color: #191919;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1005;
}
