<!-- Sidebar Backdrop -->
<div *ngIf="isOpen() && (responsiveService.phone() || responsiveService.tablet())" class="sidebar-backdrop" (click)="sidebarService.toggleSidebar()"></div>

<aside
  #sidebar
  class="secure-invoices--sidebar"
  [ngClass]="{
    close: close() && !responsiveService.phone() && !responsiveService.tablet(),
    open: (responsiveService.phone() || responsiveService.tablet()) && isOpen(),
    hide: (responsiveService.phone() || responsiveService.tablet()) && !isOpen()
  }"
>
  <header class="relative">
    <div class="flex justify-center items-center cursor-pointer" [routerLink]="['/dashboard']">
      <img class="w-24 h-24" src="../../../assets/images/logo.png" alt="secure-invoices-logo" />
      <span [ngClass]="{ 'opacity-0 hidden': close() }" class="text-center text-wrap text-slate-200 text-3xl font-bold"> Secure Invoices </span>
    </div>
  </header>

  <div class="menu-bar">
    <div class="menu">
      <li class="search-box">
        <i class="fas fa-search icon text-white"></i>
        <input type="text" placeholder="Search..." class="" />
      </li>
      <ul class="menu-links">
        <li *ngFor="let item of listLink()" class="nav-link">
          <a [routerLink]="item.route" [ngClass]="{ activated: isActivated(item.route) }" class="transition-colors"
            ><i class="icon" [ngClass]="item.icon"></i><span class="text">{{ item.label }}</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="bottom-content">
      <li class="nav-link">
        <a (click)="logout($event)" class="flex items-center space-x-3 py-2 rounded-lg hover:bg-[#EF4444] hover:bg-opacity-10 transition-colors">
          <i class="fa-solid fa-power-off icon text-[#EF4444]"></i><span class="text text-[#EF4444]">Log out</span>
        </a>
      </li>
    </div>
  </div>
</aside>
