<p-table [value]="invoices()" [tableStyle]="{ 'min-width': '50rem' }" [loading]="invoiceState().dataState === DataState.LOADING">
  <ng-template pTemplate="header">
    <tr>
      <th>Code</th>
      <th>Status</th>
      <th>Issued at</th>
      <th>Total</th>
      <th>Action</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-invoice>
    <tr>
      <td>
        <span class="font-bold">{{ invoice.invoiceNumber }}</span>
      </td>
      <td>
        <p-chip
          [styleClass]="
            invoice.status === 'Paid'
              ? 'ACTIVE'
              : invoice.status === 'Pending'
                ? 'PENDING'
                : invoice.status === 'Overdue'
                  ? 'BANNED'
                  : invoice.status === 'Draft'
                    ? 'INACTIVE'
                    : ''
          "
        >
          <span>{{ invoice.status }}</span>
        </p-chip>
      </td>
      <td>{{ invoice.issuedAt | date: 'mediumDate' }}</td>
      <td>${{ invoice.totalVat }}</td>
      <td>
        <p-button label="See more" severity="info" [size]="'small'" (onClick)="onCloseDialog(invoice.invoiceId, invoice.invoiceNumber)" />
      </td>
    </tr>
  </ng-template>
</p-table>
<p-paginator (onPageChange)="onPageChange($event)" [rows]="sizePage()" [totalRecords]="totalRecords()" />
