<div>
  <div class="flex justify-between items-center flex-wrap">
    <p-breadcrumb class="max-w-full" [model]="breadcrumbsItems()">
      <ng-template pTemplate="item" let-item>
        <ng-container *ngIf="item.route; else elseBlock">
          <a [routerLink]="item.route" class="p-menuitem-link">
            <span class="text-[#f1f1f1]" [ngClass]="[item.icon ? item.icon : '', ' mr-1']"></span>
            <span class="text-[#f1f1f1] font-semibold">{{ item.label }}</span>
          </a>
        </ng-container>
        <ng-template #elseBlock>
          <span>{{ customerState().dataState !== 'LOADING_STATE' ? customer()?.name : 'Loading...' }}</span>
        </ng-template>
      </ng-template>
    </p-breadcrumb>
  </div>
</div>
<main class="mt-6">
  <div class="flex flex-wrap gap-4">
    <div class="se-card w-full md:w-[30%] h-fit">
      <div class="se-card-header">
        <div class="flex justify-between items-center">
          <div class="flex gap-4 items-center">
            <img [src]="customer()?.imageUrl" class="w-[150px] h-[120px] rounded-md" />
            <div class="flex flex-col gap-2">
              <span class="text-2xl font-bold">{{ customer()?.name }}</span>
              <span class="text-sm italic font-light">{{ customer()?.email }}</span>
            </div>
          </div>
          <p-chip
            [styleClass]="
              customer()?.status?.toLowerCase() === 'active'
                ? 'ACTIVE'
                : customer()?.status?.toLowerCase() === 'pending'
                  ? 'PENDING'
                  : customer()?.status?.toLowerCase() === 'banned'
                    ? 'BANNED'
                    : customer()?.status?.toLowerCase() === 'inactive'
                      ? 'INACTIVE'
                      : ''
            "
          >
            <span>{{ customer()?.status }}</span>
          </p-chip>
        </div>
      </div>
      <div class="se-card-body text-slate-300">
        <ng-container *ngIf="customerState().dataState !== 'LOADING_STATE'; else spinner">
          <div class="flex flex-col gap-2">
            <div class="flex justify-between items-center">
              <span class="text-base">Customer ID</span>
              <span class="text-base">{{ customer()?.customerId }}</span>
            </div>
            <div class="flex justify-between items-center">
              <span class="text-base">Phone number</span>
              <span class="text-base">{{ customer()?.phone }}</span>
            </div>
            <div class="flex justify-between items-center">
              <span class="text-base">Member since</span>
              <span class="text-base">{{ customer()?.createdAt | date: 'mediumDate' }}</span>
            </div>
          </div>
          <span class="font-semibold">{{ customer()?.type }}</span>
        </ng-container>
      </div>
    </div>

    <div class="flex-grow w-full md:w-[calc(70%-1rem)]">
      <div class="se-card">
        <div class="se-card-header">
          <div class="flex items-center justify-between">
            <span class="font-bold">Profile</span>
            <p-button [severity]="'info'" [icon]="'fa-regular fa-pen-to-square'" (onClick)="onEditCustomerForm($event)"></p-button>
          </div>
        </div>
        <div class="se-card-body">
          <form [formGroup]="customerForm" (ngSubmit)="(null)" class="w-full flex flex-col items-center gap-4">
            <input type="hidden" name="id" />
            <div *ngIf="customerState().dataState; else spinner" class="w-full max-w-[90%]">
              <div class="form-row">
                <label class="form-label">Name</label>
                <input pInputText type="text" name="firstName" class="form-input" formControlName="name" />
              </div>
              <div class="form-row">
                <label class="form-label" for="email">Email</label>
                <input pInputText type="text" name="email" class="form-input" formControlName="email" />
              </div>
              <div class="form-row">
                <label class="form-label">Address</label>
                <input pInputText type="text" name="address" class="form-input" formControlName="address" />
              </div>
              <div class="form-row">
                <label class="form-label">Type</label>
                <p-dropdown [options]="customerTypeItems()" formControlName="type" appendTo="body"> </p-dropdown>
              </div>
              <div class="form-row">
                <label class="form-label">Status</label>
                <p-dropdown [options]="customerStatusItems()" formControlName="status" appendTo="body"> </p-dropdown>
              </div>
              <div class="form-row">
                <label class="form-label">Phone</label>
                <input pInputText type="text" name="phone" class="form-input" formControlName="phone" />
              </div>
            </div>
            <div class="w-full flex justify-end" *ngIf="customerForm.enabled">
              <div class="flex gap-2">
                <p-button
                  severity="danger"
                  [loading]="loading()"
                  [label]="'Cancel'"
                  [disabled]="loading() || customerForm.pristine"
                  (onClick)="onCancelEditForm($event)"
                ></p-button>
                <p-button
                  severity="success"
                  [loading]="loading()"
                  [label]="loading() ? 'Loading...' : 'Update'"
                  [disabled]="loading() || customerForm.pristine"
                  (onClick)="onUpdateCustomer($event)"
                  type="submit"
                ></p-button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="mt-6">
        <span class="h3">Customer's invoices</span>
        <p-table [value]="invoicesPage()" [tableStyle]="{ 'min-width': '60rem' }" [loading]="invoiceState().dataState === DataState.LOADING">
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 10%">Invoice number</th>
              <th style="width: 30%">Description</th>
              <th pSortableColumn="status" style="width: 10%">Status <p-sortIcon field="status" /></th>
              <th style="width: 20%">Issued at</th>
              <th pSortableColumn="total" style="width: 20%">Total price <p-sortIcon field="quantity" /></th>
              <th style="width: 20%">Action</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-invoice>
            <tr>
              <td>{{ invoice.invoiceNumber }}</td>
              <td>{{ invoice.services }}</td>
              <td>
                <p-chip
                  [styleClass]="
                    invoice.status.toLowerCase() === 'paid'
                      ? 'ACTIVE'
                      : invoice.status.toLowerCase() === 'pending'
                        ? 'PENDING'
                        : invoice.status.toLowerCase() === 'overdue'
                          ? 'BANNED'
                          : invoice.status.toLowerCase() === 'draft'
                            ? 'INACTIVE'
                            : ''
                  "
                >
                  <span>{{ invoice.status }}</span>
                </p-chip>
              </td>
              <td>{{ invoice.issuedAt | date: 'mediumDate' }}</td>
              <td>${{ invoice.totalVat }}</td>
              <td><p-button label="See more" severity="info" [size]="'small'" (onClick)="onRedirectToInvoice(invoice.invoiceId, invoice.invoiceNumber)" /></td>
            </tr>
          </ng-template>
          <!-- Show when there are no invoices -->
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="6" class="text-center p-4">No invoices found.</td>
            </tr>
          </ng-template>
        </p-table>
        <div class="flex justify-between items-center">
          <div>
            <span>{{ getShowingRange() }}</span>
          </div>
          <div>
            <p-paginator (onPageChange)="onPageChange($event)" [rows]="pageSize()" [totalRecords]="totalRecords()" [first]="first()" />
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<ng-template #spinner>
  <div class="d-flex align-items-center justify-content-center pt-1">
    <se-progress-spinner [size]="'l'" mode="indeterminate"></se-progress-spinner>
  </div>
</ng-template>
