<form [formGroup]="profileForm" (ngSubmit)="onProfileSubmit($event)" class="w-full flex flex-col items-center gap-4">
  <input type="hidden" name="id" />
  <div *ngIf="dataStateSig() !== 'LOADING_STATE'; else spinner" class="w-full max-w-[90%]">
    <div class="form-row">
      <label class="form-label">First Name</label>
      <input pInputText type="text" name="firstName" class="form-input" formControlName="firstName" />
    </div>
    <div class="form-row">
      <label class="form-label">Last Name</label>
      <input pInputText type="text" name="lastName" class="form-input" formControlName="lastName" />
    </div>
    <div class="form-row">
      <label class="form-label" for="email">Email</label>
      <input pInputText type="text" name="email" class="form-input" formControlName="email" />
    </div>
    <div class="form-row">
      <label class="form-label">Phone</label>
      <input pInputText type="text" name="phone" class="form-input" formControlName="phone" />
    </div>
    <div class="form-row">
      <label class="form-label">Address</label>
      <input pInputText type="text" name="address" class="form-input" formControlName="address" />
    </div>
    <div class="form-row">
      <label class="form-label">Job Title</label>
      <input pInputText type="text" name="title" class="form-input" formControlName="title" />
    </div>
    <div class="form-row">
      <label class="form-label">Bio</label>
      <textarea pInputTextarea name="bio" class="form-input" rows="4" formControlName="bio"></textarea>
    </div>
  </div>
  <div class="flex gap-1">
    <p-button
      severity="success"
      [loading]="loadingSig()"
      [label]="loadingSig() ? 'Loading...' : 'Update'"
      *ngIf="userInformations()?.roleName !== 'ROLE_USER' && dataStateSig() !== 'LOADING_STATE'"
      [disabled]="loadingSig() || profileForm.pristine"
      type="submit"
    ></p-button>

    <p-button
      severity="danger"
      [loading]="loadingSig()"
      [label]="'Undo changes'"
      *ngIf="userInformations()?.roleName !== 'ROLE_USER' && dataStateSig() !== 'LOADING_STATE'"
      [disabled]="loadingSig() || profileForm.pristine"
      (onClick)="onCancelUserProfileChanges($event)"
    ></p-button>
  </div>
</form>

<ng-template #spinner>
  <div class="d-flex align-items-center justify-content-center">
    <se-progress-spinner mode="indeterminate"></se-progress-spinner>
  </div>
</ng-template>
