/* Row with label and input */
.form-row {
  display: flex;
  flex-wrap: wrap; /* Allows label and input to stack on smaller screens */
  align-items: center; /* Aligns label and input vertically */
  gap: 20px; /* Space between label and input */
  margin-bottom: 12px;
}

/* Input styling */
.form-input {
  flex: 1 1 auto;
}

/* Label styling */
.form-label {
  flex: 0 0 150px;
  max-width: 150px;
}

.grid-customers {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 30px;
}

.card-animation {
  transition: 0.4s ease-in-out;

  &:hover {
    cursor: pointer;
    transform: translateY(-10px);
    background-color: rgba(60, 59, 61, 0.137); // darker on hover

    &:before {
      opacity: 1;
    }
  }
}
