<main>
  <div class="flex justify-between items-center flex-wrap">
    <p-breadcrumb class="max-w-full" [model]="items">
      <ng-template pTemplate="item" let-item>
        <ng-container *ngIf="item.route; else elseBlock">
          <a [routerLink]="item.route" class="p-menuitem-link">
            <span [ngClass]="[item.icon ? item.icon : '', 'text-white mr-1']"></span>
            <span class="text-white font-semibold">{{ item.label }}</span>
          </a>
        </ng-container>
        <ng-template #elseBlock>
          <span class="text-slate-200">{{ customerState().dataState !== 'LOADING_STATE' ? item.label : 'Loading...' }}</span>
        </ng-template>
      </ng-template>
    </p-breadcrumb>
    <div class="flex gap-2 pt-2">
      <p-button
        label="Register a new customer"
        severity="success"
        icon="fa-solid fa-floppy-disk"
        type="submit"
        [size]="!responsiveService.desktop() ? 'small' : 'large'"
      />
      <p-button label="Delete customer(s)" severity="danger" icon="fa-solid fa-trash" [size]="!responsiveService.desktop() ? 'small' : 'large'" />
    </div>
  </div>
  <div class="se-card mt-4">
    <div class="se-card-header">
      <div class="flex justify-between">
        <span>CUSTOMERS</span>
        <!-- <div>
          <p-button
            [label]="responsiveService.desktop() ? 'Add a new invoice' : undefined"
            (onClick)="isNewInvoiceDialogVisible.set(true)"
            pTooltip="Add a new invoice"
            tooltipPosition="left"
          >
            <i *ngIf="!responsiveService.desktop()" class="fa-solid fa-plus"></i>
          </p-button>
          <p-dialog
            header="New Invoice"
            [modal]="true"
            [visible]="isNewInvoiceDialogVisible()"
            [style]="{ width: '50rem' }"
            [draggable]="false"
            (visibleChange)="isNewInvoiceDialogVisible.set(false)"
          >
            <div class="flex items-center gap-3">
              <label for="description" class="font-semibold w-6rem">Description</label>
              <input pInputText id="description" class="flex-auto" [(ngModel)]="newInvoiceDescription" />
            </div>

            <div class="flex justify-end gap-2 mt-3">
              <p-button label="Cancel" severity="secondary" (onClick)="isNewInvoiceDialogVisible.set(false)" />
              <p-button label="Save" (onClick)="onSaveNewInvoiceClick($event)" />
            </div>
          </p-dialog>
        </div> -->
      </div>
    </div>
    <div class="se-card-body">
      <p-table [value]="customersPage()" [tableStyle]="{ 'min-width': '60rem' }" [loading]="customerState().dataState === DataState.LOADING">
        <ng-template pTemplate="header">
          <tr>
            <th>Id</th>
            <th>Photo</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Status</th>
            <th>Type</th>
            <th>Action</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-customer>
          <tr>
            <td>{{ customer.customerId }}</td>
            <td><img [src]="customer.imageUrl" width="42" height="42" class="rounded-circle" alt="Avatar" /></td>
            <td>{{ customer.name }}</td>
            <td>{{ customer.email }}</td>
            <td>{{ customer.phone }}</td>
            <td>
              <span
                class="badge"
                [ngClass]="{
                  'bg-info': customer.status.toUpperCase() === 'INACTIVE',
                  'bg-danger': customer.status.toUpperCase() === 'BANNED',
                  'bg-primary': customer.status.toUpperCase() === 'PENDING',
                  'bg-success': customer.status.toUpperCase() === 'ACTIVE'
                }"
                >{{ customer.status }}
              </span>
            </td>
            <td>{{ customer.type }}</td>
            <td><p-button label="See more" severity="info" [size]="'small'" (onClick)="selectCustomer(customer.customerId)" /></td>
          </tr>
        </ng-template>
        <!-- Show when there are no customers -->
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="5" class="text-center p-4">No invoices found.</td>
          </tr>
        </ng-template>
      </p-table>
      <p-paginator (onPageChange)="onPageChange($event)" [rows]="pageSize()" [totalRecords]="totalRecords()" [first]="first()" />
    </div>
  </div>
</main>
