<div>
  <div class="flex justify-between items-center flex-wrap">
    <p-breadcrumb class="max-w-full" [model]="breadcrumbsItems()">
      <ng-template pTemplate="item" let-item>
        <ng-container *ngIf="item.route; else elseBlock">
          <a [routerLink]="item.route" class="p-menuitem-link">
            <span class="text-[#f1f1f1]" [ngClass]="[item.icon ? item.icon : '', ' mr-1']"></span>
            <span class="text-[#f1f1f1] font-semibold">{{ item.label }}</span>
          </a>
        </ng-container>
        <ng-template #elseBlock>
          <span>{{ customerState().dataState !== 'LOADING_STATE' ? item.label : 'Loading...' }}</span>
        </ng-template>
      </ng-template>
    </p-breadcrumb>
    <div class="flex-col gap-2">
      <div class="flex gap-2 mb-4">
        <p-button
          [label]="responsiveService.desktop() ? 'Register a new customer' : undefined"
          severity="success"
          type="submit"
          [size]="'small'"
          pTooltip="Register a new customer"
          tooltipPosition="left"
          (onClick)="onRegisterNewCustomerClick()"
        >
          <i *ngIf="!responsiveService.desktop()" class="fa-solid fa-plus"></i
        ></p-button>
        <p-button
          [label]="responsiveService.desktop() ? 'Delete customer(s)' : undefined"
          severity="danger"
          [size]="'small'"
          pTooltip="Delete customer(s)"
          tooltipPosition="left"
        >
          <i *ngIf="!responsiveService.desktop()" class="fa-solid fa-minus"></i
        ></p-button>
      </div>
    </div>
  </div>
  <!-- FILTER -->
  <div class="flex justify-between items-center align-middle mt-4 flex-wrap">
    <div>
      <div class="relative">
        <input
          #input_search
          pInputText
          type="text"
          name="firstName"
          class="form-input pl-10 w-[300px] lightbg mb-3"
          [ngModel]="customersFilters.name()"
          (input)="onNameFilterChange(input_search.value)"
          placeholder="Search by name.."
        />
        <i class="fas fa-search absolute left-3 top-[30%] transform -translate-y-1/2 text-[#9CA3AF]"></i>
      </div>
    </div>
    <div class="flex gap-3 flex-wrap">
      <p-button label="Export" severity="success" icon="fa-solid fa-file-excel" (click)="downloadReport()" />
      <p-dropdown
        [options]="customerStatusItems()"
        class="lightbg"
        placeholder="Customer status"
        appendTo="body"
        optionLabel="label"
        optionValue="value"
        [style]="{ width: '150px' }"
        [ngModel]="customersFilters.customerStatus()"
        (onChange)="onStatusFilterChange($event)"
      ></p-dropdown>
      <p-dropdown
        [options]="customerTypeItems()"
        class="lightbg"
        placeholder="Customer type"
        appendTo="body"
        optionLabel="label"
        optionValue="value"
        [style]="{ width: '150px' }"
        [ngModel]="customersFilters.customerType()"
        (onChange)="onTypeFilterChange($event)"
      ></p-dropdown>
      <p-selectButton [options]="displayModeOptions()" [optionValue]="'value'" [optionLabel]="'icon'" [ngModel]="displayMode()" (ngModelChange)="displayMode.set($event)">
        <ng-template let-item pTemplate>
          <i [class]="item.icon"></i>
        </ng-template>
      </p-selectButton>
    </div>
  </div>
  <!-- END FILTER -->
  <main class="mt-6">
    <div *ngTemplateOutlet="displayMode() === 'table' ? viewTable : viewCard"></div>
    <div class="flex items-center" [ngClass]="responsiveService.phone() || responsiveService.tablet() ? 'justify-center' : 'justify-between'">
      <div *ngIf="responsiveService.desktop()">
        <span>{{ getShowingRange() }}</span>
      </div>
      <div>
        <p-paginator (onPageChange)="onPageChange($event)" [rows]="pageSize()" [totalRecords]="totalRecords()" [first]="first()" />
      </div>
    </div>
  </main>
</div>

<ng-template #viewTable>
  <p-table [value]="customersPage()" [tableStyle]="{ 'min-width': '60rem' }" [loading]="customerState().dataState === DataState.LOADING">
    <ng-template pTemplate="header">
      <tr>
        <th>Id</th>
        <th>Photo</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Status</th>
        <th>Type</th>
        <th>Action</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-customer>
      <tr>
        <td>{{ customer.customerId }}</td>
        <td><img [src]="customer.imageUrl" width="42" height="42" class="rounded-circle" alt="Avatar" /></td>
        <td>{{ customer.name }}</td>
        <td>{{ customer.email }}</td>
        <td>{{ customer.phone }}</td>
        <td>
          <p-chip
            [styleClass]="
              customer.status.toLowerCase() === 'active'
                ? 'ACTIVE'
                : customer.status.toLowerCase() === 'pending'
                  ? 'PENDING'
                  : customer.status.toLowerCase() === 'banned'
                    ? 'BANNED'
                    : customer.status.toLowerCase() === 'inactive'
                      ? 'INACTIVE'
                      : ''
            "
          >
            <span>{{ customer.status }}</span>
          </p-chip>
        </td>
        <td>{{ customer.type }}</td>
        <td><p-button label="See more" severity="info" [size]="'small'" (onClick)="selectCustomer(customer.customerId)" /></td>
      </tr>
    </ng-template>
    <!-- Show when there are no customers -->
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="100%" class="text-center p-4">No customers found.</td>
      </tr>
    </ng-template>
  </p-table>
</ng-template>

<ng-template #viewCard>
  <!-- customers card -->

  <div class="grid-customers">
    <ng-container *ngIf="customersPage().length > 0; else noCustomers">
      <ng-container *ngFor="let customer of customersPage()">
        <div class="col-span-12 lg:col-span-6 xl:col-span-3 se-card card-animation" [routerLink]="['view/', customer.customerId]">
          <div class="flex h-full">
            <!-- Customer Image -->
            <div class="w-24 h-full">
              <img [src]="customer.imageUrl" alt="{{ customer.name }}" class="object-cover w-full h-full rounded-l-md" />
            </div>

            <!-- Right side content -->
            <div class="flex flex-col justify-between flex-1">
              <!-- Card Header -->
              <div class="se-card-header px-4 pt-4 pb-2">
                <div class="flex justify-between items-start">
                  <div class="flex flex-col gap-1">
                    <span class="font-semibold text-white">{{ customer.name }}</span>
                    <span class="text-sm text-gray-400">{{ customer.type }}</span>
                  </div>
                  <i class="fa-solid fa-ellipsis-vertical text-white"></i>
                </div>
              </div>

              <!-- Card Body -->
              <div class="se-card-body px-4 pb-4">
                <span class="text-sm">Joinded since {{ customer.createdAt | date: 'mediumDate' }} </span>
                <div class="flex justify-between items-center mt-2">
                  <div class="flex items-center gap-4">
                    <p-chip
                      [styleClass]="
                        customer.status.toLowerCase() === 'active'
                          ? 'ACTIVE'
                          : customer.status.toLowerCase() === 'pending'
                            ? 'PENDING'
                            : customer.status.toLowerCase() === 'banned'
                              ? 'BANNED'
                              : customer.status.toLowerCase() === 'inactive'
                                ? 'INACTIVE'
                                : ''
                      "
                    >
                      <span>{{ customer.status }}</span>
                    </p-chip>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </div>
</ng-template>

<ng-template #noCustomers>
  <div class="col-span-12 flex justify-center w-full text-center">No customers found.</div>
</ng-template>
