<form [formGroup]="accountSettingsForm" (ngSubmit)="onSettingsSubmit($event)">
  <input type="hidden" name="userId" />
  <div class="row" *ngIf="dataStateSig() !== 'LOADING_STATE'; else spinner">
    <div class="col-md-6">
      <div class="form-group">
        <div class="form-check">
          <dgd-core-checkbox formControlName="enabled">Account active</dgd-core-checkbox>
        </div>
        <div class="form-check">
          <dgd-core-checkbox formControlName="notLocked">Account unlocked</dgd-core-checkbox>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-4">
    <p-button
      severity="success"
      [loading]="loadingSig()"
      [label]="loadingSig() ? 'Loading...' : 'Update'"
      *ngIf="isSysAdminOrAdmin() && dataStateSig() !== 'LOADING_STATE'"
      [disabled]="loadingSig() || accountSettingsForm.pristine"
      type="submit"
    ></p-button>
  </div>
</form>

<ng-template #spinner>
  <div class="d-flex align-items-center justify-content-center">
    <se-progress-spinner mode="indeterminate"></se-progress-spinner>
  </div>
</ng-template>
