<form [formGroup]="accountSettingsForm" (ngSubmit)="onSettingsSubmit($event)">
  <h3 class="mb-4">Account Settings</h3>
  <input type="hidden" name="userId" />
  <div class="row" *ngIf="dataStateSig() !== 'LOADING_STATE'; else spinner">
    <div class="col-md-6">
      <div class="form-group">
        <div class="form-check">
          <dgd-core-checkbox formControlName="enabled">Account active</dgd-core-checkbox>
        </div>
        <div class="form-check">
          <dgd-core-checkbox formControlName="notLocked">Account unlocked</dgd-core-checkbox>
        </div>
      </div>
    </div>
  </div>
  <div>
    <button
      *ngIf="isSysAdminOrAdmin() && dataStateSig() !== 'LOADING_STATE'"
      [disabled]="loadingSig() || accountSettingsForm.pristine"
      type="submit"
      class="btn btn-primary"
    >
      <span *ngIf="loadingSig()" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="margin-right: 5px"></span>
      <span *ngIf="loadingSig()">loading...</span>
      <span *ngIf="!loadingSig()">Update</span>
    </button>
  </div>
</form>

<ng-template #spinner>
  <div class="d-flex align-items-center justify-content-center">
    <se-progress-spinner mode="indeterminate"></se-progress-spinner>
  </div>
</ng-template>
