<ng-container>
  <p-breadcrumb class="max-w-full" [model]="items">
    <ng-template pTemplate="item" let-item>
      <ng-container *ngIf="item.route; else elseBlock">
        <a [routerLink]="item.route" class="p-menuitem-link">
          <span [ngClass]="[item.icon ? item.icon : '', 'text-white mr-1']"></span>
          <span class="text-white font-semibold">{{ item.label }}</span>
        </a>
      </ng-container>
      <ng-template #elseBlock>
        <span class="text-slate-200">{{ item.label }}</span>
      </ng-template>
    </ng-template>
  </p-breadcrumb>
  <div *ngIf="customerState().dataState !== 'LOADING_STATE'; else spinner" class="mt-4">
    <se-stats
      [dataState]="customerState().dataState"
      [stats]="customerState().appData?.data?.stats"
      [monthlyStats]="statisticState().appData?.data?.stats"
      [invoicesStatusStats]="statistic2State().appData?.data"
    ></se-stats>
  </div>
</ng-container>

<ng-template #spinner>
  <div class="d-flex align-items-center justify-content-center pt-1">
    <se-progress-spinner [size]="'l'" mode="indeterminate"></se-progress-spinner>
  </div>
</ng-template>
