<div class="w-full flex flex-col items-center gap-4">
  <div class="w-full max-w-[90%]">
    <!-- <select
        [ngModel]="selectedRole()"
        (ngModelChange)="selectedRole.set($event)"
        [disabled]="!isSysAdminOrAdmin() || loadingSig()"
        name="roleName"
        class="form-control select-cl"
        required
      >
        <option
          *ngFor="let role of rolesListSig()"
          [disabled]="!isSysAdminOrAdmin() || loadingSig()"
          [selected]="role.name === userInformations()?.roleName"
          [ngValue]="role.name"
          class="select-cl"
        >
          {{ role.name }}
        </option>
      </select> -->
    <div class="form-row">
      <label class="form-label">Update user role</label>
      <p-dropdown
        [options]="rolesListSig()"
        [ngModel]="selectedRole()"
        (onChange)="selectedRole.set($event.value.name)"
        [disabled]="!isSysAdminOrAdmin() || loadingSig()"
        optionLabel="name"
        placeholder="Update my role"
      >
      </p-dropdown>
    </div>
  </div>
</div>
<div class="col-md-6">
  <div class="flex flex-col">
    <label style="margin-bottom: 5px">Role Permissions</label>
    <input *ngFor="let permission of listPermissions().split(', ')" [value]="permission" type="text" class="form-control" [disabled]="true" style="margin-bottom: 5px" />
  </div>
</div>
<div class="mt-4">
  <p-button
    severity="success"
    [loading]="loadingSig()"
    [label]="loadingSig() ? 'Loading...' : 'Update'"
    *ngIf="userInformations()?.roleName !== 'ROLE_USER' && dataStateSig() !== 'LOADING_STATE'"
    [disabled]="loadingSig() || !isSysAdminOrAdmin() || userInformations()?.roleName === selectedRole()"
    (onClick)="updateUserRole()"
  ></p-button>
</div>
